#wrapper {
	-fx-border-color: #b7b7b7;
	-fx-border-radius: 6px;
	-fx-background-color: white;
}
#username {
	-fx-text-fill: #2D6CDF;
}
#status {
	-fx-text-fill: white;
	-fx-background-radius: 30px 0px 0px 30px;
}
.status-finish {
    -fx-background-color: #5cb85c;
}
.status-running {
    -fx-background-color: #f49d41;
}
.status-cancel {
    -fx-background-color: #777777;
}
.status-waiting {
    -fx-background-color: #337ab7;
}
.command-button {
	-fx-background-color: #e0e0e0;
	-fx-background-radius: 99px;
}
.command-button:hover {
	-fx-background-color: #333;
}