.menu-button .label {
	-fx-text-fill: white;
}

.menu-item .label {
	-fx-text-fill: black;
	-fx-padding: 0px 50px 0px 0px;
}

.btn-back {
	-fx-cursor: hand;
}

.btn-rounded {
	-fx-border-radius: 30px;
    -fx-background-radius: 30px;
	-fx-padding: 8px 20px 8px 20px;
	-fx-cursor: hand;
}

#btn-search {
	-fx-border-radius: 0px 30px 30px 0px;
	-fx-background-radius: 0px 30px 30px 0px;
	-fx-padding: 8px 15px 8px 15px;
	-fx-border-width: 1px 1px 1px 0px;
}

#btn-search:hover {
	-fx-background-color: #fff;
}

#btn-search:selected {
	-fx-background-color: #fff;
}

#input-search {
	-fx-padding: 9px 10px 9px 5px;
	-fx-background-radius: 0px;
}

#input-search:focused {
	-fx-border-color: #ccc;
	-fx-background-color: #fff;
	-fx-padding: 8px 10px 8px 3px;
}

#search-box {
	
}

.btn-add-new {
	-fx-background-color: #00a0e9;
	-fx-padding: 7px 20px;
}

.btn-add-new:hover {
	-fx-background-color: #46b8da;
}

.btn-dropdown {
	-fx-background-color: #f0ad4e;
	-fx-padding: 2px 12px;
}

.btn-dropdown:hover {
	-fx-background-color: #eea236;
}

.btn-submit {
	-fx-background-color: #5cb85c;
	-fx-text-fill: white;
}

.btn-submit:hover {
	-fx-background-color: #4cae4c;
}

.btn-action {
	-fx-border-color: #ccc;
	-fx-background-color: #fff;
}

.btn-action:hover, .btn-action:selected {
	-fx-background-color: #e6e6e6;
}

.grid-view {
	-fx-alignment: center;
}